<!DOCTYPE html>
<html>
  <head>
    <title>HasManyClassActivity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Has-Many Class Activity 2/21</h1>
  <%= link_to "Products", products_path %> | <%= link_to "Vendors", vendors_path %>
    <%= yield %>
  </body>
</html>
